<div class="span">
  <div class="group">
    <%= link_to("Edit", edit_group_path(@group), :clss => "btn btn-mini btn-primary pull-right") %>
  </div>
  <h2> <%= @group.title %> </h2>
  <p> <%= @group.description %> </p>
</div>